---
---
@import "{{ site.theme }}";

/* Remove the GitHub ribbon on the left */
.github-fork-ribbon {
    display: none;
}

footer p:last-of-type, .octocat {
  display: none;
}
#main_content {
  margin-bottom: 50px; /* Add bottom margin to push footer below content */
}

footer {
  margin-top: 50px; /* Ensure footer has enough space above it */
}

.ribbon-outer {
  padding-bottom: 20px; /* Add padding to fix any overlap */
}

.octocat {
  display: none; /* This hides the GitHub logo */
}

