/* General Styles */

.header-content {
  text-align: center;
  padding: 50px 0; /* Space around the title */
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Writings Section Styles */
.writings-section {
  text-align: center;
  margin: 40px auto;
}

.writings-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.writings-section p {
  font-size: 1.1em;
  color: #666;
}

/* Blog List Styles */
.blog-list {
  margin: 20px auto;
  max-width: 800px;
}

.blog-list ul {
  list-style-type: none;
  padding: 0;
}

.blog-list li {
  margin-bottom: 20px;
}

.blog-list a {
  text-decoration: none;
  color: #333;
}

.blog-list h3 {
  font-size: 1.5em;
}

.blog-list p {
  font-size: 1em;
  color: #666;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: transparent; /* Remove the white background */
  font-size: 1em;
}

/* Added margin for the blog section to create space between content and footer */
#main_content {
  padding-bottom: 80px; /* Add bottom padding to push content up from the footer */
}
